@page "/"

<PageTitle>Index</PageTitle>

<h1>Chart Project</h1>

I created a Blazor project where you can add or remove data that is displayed on the diagram.
As an example, I took a cryptocurrency chart.
<p>Don't forget to log in</p>
